@charset "UTF-8";
/* CSS Document */

body {
	width: 100%;
	height: 100%;
	font-family: "Segoe Ui Light";
	color: #fff;
	background-color: #000;
}

a{font-size:18px;}
a:active{font-size:17px;}
.navbar-nav>li>a:hover {color:#80FFc5; background:transparent;}
.navbar-nav>li>a:active{font-size:17px;}

.thumbnail img {padding:20px;}

section {padding:60px 0;}

.brand-heading img{width:20%; padding-bottom:20px;}

.grey {opacity:0.7;}

.navbar{
	padding:30px 0;
	border-bottom:0;
	letter-spacing:1px;
	background:0 0;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-custom a {
color: #fff;
}

.top-nav-collapse{
	padding:0;
	background-color:#000;
	border-bottom:solid 1px #FFFFFFF;
}


.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 150px 0 100px 0;
	text-align: left;
	color: #fff;
	background-color: #333;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	/*background: url(../img/sample.png) no-repeat bottom center scroll;*/
}

.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}

.intro .intro-body .brand-heading {
	font-size: 40px;
}

.intro-text {
	font-size: 20px;
}


.navbar-custom .navbar-toggle .icon-bar {
	background-color: #fff;
	margin-top:4px;
}

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.delay{
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay:0.2s;
	-ms-animation-delay:0.2s;
	-o-animation-delay:0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}


@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
